.link{
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: all 0.5s;
}

.link:hover{
    border-bottom: 0.2rem solid white;
}


@media only screen and (min-width: 770px){
    .link{
        margin: 0rem;
        padding-bottom: 0.5rem;
    }
}